<a href="https://colab.research.google.com/github/shravasam/PythonCodingANDconfig-3-IDEs/blob/master/setInPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A set is a collection which is both unordered and unindexed.
Sets are written with curly brackets.

In [1]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [2]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'apple', 'banana', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

Add set items

In [3]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

Access Items

In [4]:
setExam = {"A","B","C"}

print("B" in setExam)

True

Join set

In [6]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

setOne ={"car","bike","velo"}
setTwo = {"maths","c","c++"}
setThree = setOne.union(setTwo)
print(setThree)

{1, 2, 3, 'c', 'b', 'a'}
{'c', 'maths', 'c++', 'bike', 'velo', 'car'}