<a href="https://colab.research.google.com/github/shravasam/PythonCodingANDconfig-3-IDEs/blob/master/TuplesInPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple items are ordered, unchangeable, and allow duplicate values.

In [6]:
firstTuples = ("A","B","C")
print(firstTuples)
print(type(firstTuples))

('A', 'B', 'C')
<class 'tuple'>

In [7]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [9]:
thistuple = tuple(("apple", "banana", "cherry"))
print(len(thistuple))
print(type(thistuple))

3
<class 'tuple'>

In [12]:
testTuble = ("salut")
testTuble2 = ("salut",)
print(type(testTuble))
print(type(testTuble2))

<class 'str'>
<class 'tuple'>

In [13]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [16]:
tuple1 = ("abc", 34, True, 40, "male")
tupleDAta = ("A", 1, False, 33, "female")

print(tuple1)
print(tupleDAta)

('abc', 34, True, 40, 'male')
('A', 1, False, 33, 'female')

Access tuples

In [17]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Negative Indexing

In [18]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry